/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

/* Estilos del contenido principal*/
body {
  background-color: white;
  min-height: 100vh; }

header {
  z-index: 2;
  position: sticky;
  top: 0;
  background: white;
  grid-area: header; }
  header .navbar {
    --bs-navbar-toggler-border-color: $ppal-font-color;
    --bs-navbar-padding-y:0; }
  header .menu {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(167, 234, 255, 0.58), rgba(192, 235, 254, 0.53), rgba(209, 236, 254, 0.25), rgba(235, 220, 254, 0.56), rgba(204, 208, 253, 0.39), rgba(235, 186, 248, 0.48), rgba(246, 189, 251, 0.5), rgba(255, 202, 254, 0.43), rgba(255, 220, 249, 0.52), rgba(255, 229, 248, 0.64), rgba(255, 235, 248, 0.72)); }
    header .menu .menu-logo-container {
      display: flex;
      width: 4rem;
      height: 4rem;
      margin-left: 2rem;
      margin-top: 0.25rem; }
      header .menu .menu-logo-container .menu-logo-img {
        object-fit: contain; }
    header .menu .menu-side-right {
      display: flex;
      list-style: none;
      align-items: center; }
      header .menu .menu-side-right li {
        padding: 0 1rem;
        font-size: 1.3rem;
        color: #d24cdb; }
        header .menu .menu-side-right li a {
          text-decoration: none;
          color: #d24cdb;
          font-weight: 600; }
        header .menu .menu-side-right li a:hover {
          border-bottom: 0.1rem solid; }
    header .menu .navbar-toggler {
      color: #d24cdb; }
    header .menu button {
      border: 0.2rem solid; }
      header .menu button span {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(202, 136, 205)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.body-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 5fr 0.1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  align-content: center;
  align-items: center; }

.main-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "login login login" "sectionuno sectiondos sectiontres";
  row-gap: 1.5rem;
  column-gap: 1rem;
  grid-area: main;
  margin: 1rem 2rem; }
  .main-index .section-i-uno {
    grid-area: sectionuno; }
  .main-index .section-i-dos {
    grid-area: sectiondos; }
  .main-index .section-i-tres {
    grid-area: sectiontres; }

.login-form .ingresar, .form-contacto .form-buttons-container .form-buttons {
  border: 0.15rem solid #37b9e0;
  color: #d24cdb;
  background-color: #ededed;
  font-weight: bold;
  border-radius: 0.4rem; }

.body-nosotros .main-nosotros .titulo-ppal, .container .titulo-ppal {
  font-size: 4rem;
  text-align: center;
  padding: 2% 0;
  color: #d24cdb;
  text-shadow: 3px 3px #ebbaf8; }

.login-form {
  display: flex;
  flex-direction: column;
  border: 0.25rem solid #37b9e0;
  border-radius: 1.5rem;
  background-color: #fff7ff;
  justify-content: space-evenly;
  align-items: center;
  height: 27rem;
  width: 20rem;
  color: #d24cdb;
  grid-area: login;
  justify-self: center; }
  .login-form .login-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold; }
  .login-form .login-div-container {
    display: flex;
    flex-direction: column;
    height: 4rem;
    justify-content: space-around;
    font-weight: bold; }
    .login-form .login-div-container input {
      border-radius: 0.4rem;
      outline: none; }
    .login-form .login-div-container .input-t {
      min-height: 1.7rem;
      min-width: 18rem;
      border: 0.15rem solid #37b9e0;
      border-radius: 0.4rem;
      color: #d24cdb; }
    .login-form .login-div-container .input-t::placeholder {
      color: #d24cdb; }
    .login-form .login-div-container .input-t:focus {
      outline: 0.15rem solid #d24cdb;
      border-radius: 5px;
      border-color: transparent; }
  .login-form .ingresar {
    height: 2rem;
    width: 7rem; }

.flip-card {
  background-color: transparent;
  perspective: 1000px; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg); }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 0.25rem solid #37b9e0;
  border-radius: 2rem;
  background-color: #fff7ff;
  color: #d24cdb; }
  .flip-card-front .fc-img-container {
    width: 75%;
    height: 50%;
    justify-content: center;
    align-items: center; }
    .flip-card-front .fc-img-container img {
      max-width: 100%;
      max-height: 100%; }

.flip-card-front h2 {
  font-size: 2.5rem;
  font-weight: 800; }

/* Style the back side */
.flip-card-back {
  border: 0.25rem solid #37b9e0;
  border-radius: 2rem;
  background-color: #fff7ff;
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  color: #d24cdb; }

.flip-card-back p {
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 800; }

.login-form .ingresar, .form-contacto .form-buttons-container .form-buttons {
  border: 0.15rem solid #37b9e0;
  color: #d24cdb;
  background-color: #ededed;
  font-weight: bold;
  border-radius: 0.4rem; }

.body-nosotros .main-nosotros .titulo-ppal, .container .titulo-ppal {
  font-size: 4rem;
  text-align: center;
  padding: 2% 0;
  color: #d24cdb;
  text-shadow: 3px 3px #ebbaf8; }

.body-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.05fr 1fr 0.05fr;
  grid-template-areas: "header header header" "mainN mainN mainN" "footer footer footer"; }
  .body-nosotros .main-nosotros {
    grid-area: mainN;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 2fr;
    grid-template-areas: "h1 h1 h1"  "p p p"  "section-uno section-dos section-tres";
    grid-gap: 0.5rem;
    margin: 0 4rem;
    justify-items: center; }
    .body-nosotros .main-nosotros .titulo-ppal {
      grid-area: h1; }
    .body-nosotros .main-nosotros .parrafo-ppal {
      color: #d24cdb;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: justify;
      padding-bottom: 2%;
      grid-area: p; }
    .body-nosotros .main-nosotros .section-nos {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem; }
      .body-nosotros .main-nosotros .section-nos .media-container {
        border: 0.25rem solid #37b9e0;
        box-shadow: 4px 4px 4px #d24cdb;
        border-radius: 0.5rem;
        object-fit: scale-down; }
        .body-nosotros .main-nosotros .section-nos .media-container .media-container-img {
          width: 100%;
          aspect-ratio: 1; }
    .body-nosotros .main-nosotros .section-uno {
      grid-area: section-uno; }
    .body-nosotros .main-nosotros .section-dos {
      grid-area: section-dos; }
    .body-nosotros .main-nosotros .section-tres {
      grid-area: section-tres; }

.login-form .ingresar, .form-contacto .form-buttons-container .form-buttons {
  border: 0.15rem solid #37b9e0;
  color: #d24cdb;
  background-color: #ededed;
  font-weight: bold;
  border-radius: 0.4rem; }

.body-nosotros .main-nosotros .titulo-ppal, .container .titulo-ppal {
  font-size: 4rem;
  text-align: center;
  padding: 2% 0;
  color: #d24cdb;
  text-shadow: 3px 3px #ebbaf8; }

.container {
  height: 70%;
  display: flex;
  flex-direction: column;
  /*Comportamiento particular de Servicios*/ }
  .container .titulo-ppal {
    grid-area: h1; }
  .container .section-container {
    color: #d24cdb;
    display: flex;
    margin: 2% 5%;
    padding: 0 2%;
    border: 0.25rem solid #37b9e0;
    border-radius: 3rem;
    background-color: #fff7ff;
    box-shadow: 4px 4px 4px;
    /*Comportamiento particular de Servicios*/
    /*Comportamiento particular de Servicios*/ }
    .container .section-container .card-img {
      max-height: 11rem;
      min-height: 11rem;
      max-width: 12.5rem;
      min-width: 11rem;
      border-radius: 50%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0.25rem solid #37b9e0;
      box-shadow: -4px -4px; }
    .container .section-container .ci-reverse {
      box-shadow: 4px 4px; }
    .container .section-container .description-title {
      text-align: center;
      font-weight: 900;
      padding-bottom: 0.5rem; }
    .container .section-container .card-description {
      margin: 1rem 0 1rem 1rem;
      border-left: 0.12rem solid; }
      .container .section-container .card-description h3 {
        padding-left: 2%;
        font-weight: bold;
        text-decoration: underline; }
      .container .section-container .card-description .service-title {
        font-weight: bold;
        margin-top: 1rem;
        padding-bottom: 1%;
        padding: 0 2%; }
      .container .section-container .card-description .description-paragraph {
        padding: 1% 2%;
        text-align: justify; }
    .container .section-container .cd-reverse {
      margin: 1rem 1rem 1rem 0;
      border-left: none;
      border-right: 0.12rem solid; }
  .container .sreverse {
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: -4px -4px 4px; }

.form-contacto {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  max-height: 70%; }
  .form-contacto fieldset {
    display: flex;
    flex-direction: column;
    border: 0.25rem solid #37b9e0;
    border-radius: 1.5rem;
    background-color: #fff7ff;
    height: 50rem;
    width: 28rem;
    padding: 1%;
    align-items: center;
    justify-content: space-between; }
    .form-contacto fieldset .form-logo {
      max-width: 5.5rem;
      max-height: 5.5rem; }
    .form-contacto fieldset legend {
      padding: 0 1rem;
      color: #d24cdb;
      margin-left: 7.8rem;
      font-size: 1.5rem;
      padding-top: 1rem;
      font-weight: bold; }
  .form-contacto .form-input-container {
    display: flex;
    flex-direction: column;
    color: #d24cdb;
    font-weight: bold; }
    .form-contacto .form-input-container label {
      margin-bottom: 0.4rem; }
    .form-contacto .form-input-container .input-t {
      min-height: 1.7rem;
      min-width: 18rem;
      border: 0.15rem solid #37b9e0;
      border-radius: 0.4rem;
      color: #d24cdb; }
    .form-contacto .form-input-container .input-t::placeholder {
      color: #d24cdb; }
    .form-contacto .form-input-container .input-t:focus {
      outline: 0.15rem solid #d24cdb;
      border-radius: 5px;
      border-color: transparent; }
  .form-contacto .form-textarea {
    min-width: 18rem;
    border: 0.2rem solid #37b9e0;
    border-radius: 0.4rem;
    color: #d24cdb; }
  .form-contacto .form-textarea::placeholder {
    color: #d24cdb; }
  .form-contacto .form-textarea:focus {
    outline: 0.2rem solid #d24cdb;
    border-radius: 0.4rem;
    border-color: transparent; }
  .form-contacto .form-buttons-container {
    min-width: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .form-contacto .form-buttons-container .form-buttons {
      min-width: 6.3rem;
      min-height: 2rem; }

.footer {
  z-index: 2;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(167, 234, 255, 0.58), rgba(192, 235, 254, 0.53), rgba(209, 236, 254, 0.25), rgba(235, 220, 254, 0.56), rgba(204, 208, 253, 0.39), rgba(235, 186, 248, 0.48), rgba(246, 189, 251, 0.5), rgba(255, 202, 254, 0.43), rgba(255, 220, 249, 0.52), rgba(255, 229, 248, 0.64), rgba(255, 235, 248, 0.72));
  grid-area: footer; }
  .footer p {
    padding: 1%;
    margin-left: 1.5rem;
    color: #37b9e0;
    font-size: 1rem;
    font-weight: bold; }
  .footer .links-footer {
    display: flex;
    align-items: center; }
    .footer .links-footer li {
      list-style: none;
      padding: 0 1.7rem;
      color: #37b9e0; }
      .footer .links-footer li a {
        text-decoration: none;
        color: #37b9e0;
        font-size: 0.75rem;
        font-weight: bold; }
        .footer .links-footer li a .icono {
          font-size: 1.4rem; }

@media screen and (max-width: 1024px) {
  /* Html-Nosotros*/
  .body-nosotros .main-nosotros .titulo-ppal, .container .titulo-ppal {
    font-size: 3rem; }
  .body-nosotros .main-nosotros .parrafo-ppal {
    font-size: 1rem; } }

@media screen and (max-width: 768px) {
  .navbar-brand {
    --bs-navbar-brand-padding-y: 0
    ; }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-left: 0; }
  .menu-logo-container {
    margin-left: 0; }
  /*Html Index*/
  .main-index {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-index .flip-card {
      height: 20rem;
      width: 20rem; }
  /*Html Nosotros*/
  .body-nosotros .main-nosotros {
    grid-template-rows: 0.1fr 0.1fr 1.2fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2rem; }
  .body-nosotros .main-nosotros .titulo-ppal {
    font-size: 2.7rem; }
  .body-nosotros .main-nosotros .parrafo-ppal {
    font-size: 0.8rem; }
  .container .section-container {
    flex-direction: column;
    align-items: center; }
  .container .section-container .card-description {
    margin: 0;
    border-left: none; }
  .container .section-container .cd-reverse {
    border-right: none; }
  .container .section-container .card-description h3 {
    padding: 0;
    text-align: center; }
  .card-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container .titulo-ppal {
    font-size: 2.5rem; }
  .container .section-container .card-img {
    max-height: 9rem;
    min-height: 9rem;
    max-width: 10.5rem;
    min-width: 9rem;
    /* Footer */ }
    .container .section-container .card-img .footer p {
      padding: 1%;
      margin-left: 1.2rem;
      font-size: 0.8rem;
      font-weight: bold; }
    .container .section-container .card-img .inicio {
      display: none; } }

@media screen and (max-width: 768px) and (max-width: 600px) {
  /*Html Nosotros*/
  .body-nosotros .main-nosotros {
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    margin: 0 1rem; }
  .body-nosotros .main-nosotros .titulo-ppal {
    font-size: 2.2rem; }
  /*Footer*/
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footer p {
    margin: 0; }
  .links-footer {
    justify-content: flex-start;
    padding-left: 0; } }

@media screen and (max-width: 768px) and (max-width: 500px) {
  /*Html Nosotros*/
  .body-nosotros .main-nosotros .titulo-ppal {
    font-size: 2rem; }
  .body-nosotros .main-nosotros .parrafo-ppal {
    font-size: 0.7rem; }
  .container .titulo-ppal {
    font-size: 2rem; } }

@media screen and (max-width: 768px) and (max-width: 420px) {
  /*Html Nosotros*/
  .body-nosotros .main-nosotros .titulo-ppal {
    font-size: 1.8rem; }
  .body-nosotros .main-nosotros {
    gap: 0.2rem;
    row-gap: 0.2rem;
    margin: 0 0.5rem; } }
