/*Reset*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  /* Estilos del contenido principal*/
  
  body {
    background-color: white;
    min-height: 100vh;
  }

  @import "base/variables";
  @import "components/header-styles";
  @import "components/index-distribution";
  @import "components/form-index-styles";
  @import "components/index-flip-cards-styles";
  @import "components/nosotros-styles";
  @import "components/staff-servicios-styles";
  @import "components/contacto-styles";
  @import "components/footer-styles";
  @import "components/media-querys";


  
  