// Variables

$ppal-bg-color: rgb(255, 247, 255);

$ppal-border-color: rgb(55, 185, 224);

$ppal-bg-gradient: linear-gradient(
    to right,
    rgba(167, 234, 255, 0.58),
    rgba(192, 235, 254, 0.53),
    rgba(209, 236, 254, 0.25),
    rgba(235, 220, 254, 0.56),
    rgba(204, 208, 253, 0.39),
    rgba(235, 186, 248, 0.48),
    rgba(246, 189, 251, 0.5),
    rgba(255, 202, 254, 0.43),
    rgba(255, 220, 249, 0.52),
    rgba(255, 229, 248, 0.64),
    rgba(255, 235, 248, 0.72));

$ppal-font-color: #d24cdb;

$secondary-font-color: rgb(55, 185, 224);

$input-bg-color: rgb(237, 237, 237);

$text-shadow-ppalfont: rgb(235, 186, 248);
