
@import "base/variables";
@import "base/mixin";
@import "base/extend";

.login-form {
    @include flex-colum;
    @include form-bbgformat;
    justify-content: space-evenly;
    align-items: center;
    height: 27rem;
    width: 20rem;
    color: $ppal-font-color;
    grid-area: login;
    justify-self: center;
    .login-title {
        margin-bottom: 0.5rem;
        font-weight: bold;
      }
    .login-div-container {
        @include flex-colum;
        height: 4rem;
        justify-content: space-around;
        font-weight: bold;
        input {
            border-radius: 0.4rem;
            outline: none;
          }
        .input-t {
           @include input-t;
          }
        .input-t::placeholder{
            color: $ppal-font-color;
          }
        .input-t:focus{
            outline: 0.15rem solid $ppal-font-color;
            border-radius: 5px;
            border-color: transparent;
          }
      }
    .ingresar {
        @extend %botones;
        height: 2rem;
        width: 7rem;
      }
}
  
  