//Tarjetas Index + animacion

@import "base/variables";
@import "base/mixin";

.flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    @include transform (rotateY(180deg));
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    @include flex-colum;
    justify-content: space-around;
    align-items: center;
    border: 0.25rem solid $ppal-border-color;
    border-radius: 2rem;
    background-color: $ppal-bg-color;
    color: $ppal-font-color;
    .fc-img-container{
      width: 75%;
      height: 50%;
      justify-content: center;
      align-items: center;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  
  .flip-card-front h2{
    font-size: 2.5rem;
    font-weight: 800;
  }
  
  /* Style the back side */
  .flip-card-back {
    border: 0.25rem solid $ppal-border-color;
    border-radius: 2rem;
    background-color: $ppal-bg-color;
    @include transform (rotateY(180deg));
    color: $ppal-font-color;
  }
  
  .flip-card-back p{
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 800;
  }