//Media Querys

@import "base/variables";
@import "base/mixin";

@media screen and (max-width: 1024px){
    /* Html-Nosotros*/
    
    .body-nosotros .main-nosotros .titulo-ppal, .container .titulo-ppal{
      font-size: 3rem;
    }
  
    .body-nosotros .main-nosotros .parrafo-ppal{
      font-size: 1rem;
    }
  
  }
  
  @media screen and (max-width: 768px){

    // nav bar
    .navbar-brand{
      --bs-navbar-brand-padding-y: 0
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      padding-left: 0;
    }

    .menu-logo-container {
      margin-left: 0;
    }
  
    /*Html Index*/
    
    .main-index{
      @include flex-colum;
      align-items: center;
      .flip-card{
        height: 20rem;
        width: 20rem;
      }
    }
    
    /*Html Nosotros*/
    .body-nosotros .main-nosotros{
      grid-template-rows: 0.1fr 0.1fr 1.2fr;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 2rem;
    }
  
    .body-nosotros .main-nosotros .titulo-ppal{
      font-size: 2.7rem;
    }
  
    .body-nosotros .main-nosotros .parrafo-ppal{
      font-size: 0.8rem;
    }

    //staff 

    .container .section-container{
      flex-direction: column;
      align-items: center;
    }

    .container .section-container .card-description {
      margin: 0;
      border-left: none;
    }

    .container .section-container .cd-reverse{
      border-right: none;
    }

    .container .section-container .card-description h3{
      padding: 0;
      text-align: center;
    }

    .card-img-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .container .titulo-ppal{
      font-size: 2.5rem;
    }

    .container .section-container .card-img {
      min-height: 10rem;
      max-width: 10.5rem;
      min-width: 9rem;
    }

    /* Footer */
    .footer p {
      padding: 1%;
      margin-left: 1.2rem;
      font-size: 0.8rem;
      font-weight: bold;
    }
    //arreglar aca ********
    .inicio{
      display: none;
    }
  }
  
  @media screen and (max-width: 600px){
  
      /*Html Nosotros*/
      .body-nosotros .main-nosotros{
        grid-template-rows: 0.1fr 0.1fr 1fr;
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
        margin: 0 1rem;
      }
    
      .body-nosotros .main-nosotros .titulo-ppal{
        font-size: 2.2rem;
      }
  
      /*Footer*/
      .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  
      .footer p{
        margin: 0;
      }
  
      .links-footer {
        justify-content: flex-start;
        padding-left: 0;
      }

      .form-contacto fieldset{
        height: 40rem;
        width: 25rem;
      }

      .form-contacto .form-textarea{
        max-height: 12.5rem
      }
      
  }
  
  @media screen and (max-width: 500px) {
    /*Html Nosotros*/
    .body-nosotros .main-nosotros .titulo-ppal{
      font-size: 2rem;
    }
  
    .body-nosotros .main-nosotros .parrafo-ppal{
      font-size: 0.7rem;
    }

    //html staff y servicios
    .container .titulo-ppal{
      font-size: 2rem;
    }
  }
  
  @media screen and (max-width: 420px) {
    /*Html Nosotros*/
    .body-nosotros .main-nosotros .titulo-ppal{
      font-size: 1.8rem;
    }

    .body-nosotros .main-nosotros{
      gap: 0.2rem;
      row-gap: 0.2rem;
      margin: 0 0.5rem;
    }

    .form-contacto fieldset{
      height: 40rem;
      width: 22rem;
      margin-left: 0.5rem;
    }
    .form-contacto .form-textarea{
      max-height: 10rem
    }
    
  }
